<div class="container mt-5 text-center">
    <h1>This is About Page</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 mb-5">
            <%= image_tag("study5.jpg", class: "top_image") %>
        </div>
        <div class="col-md-6 my-auto">
            <div class="paragraph">
                <h3>What's your purpose of learning?</h3>
                <br>
                <br>
                <h3>What do you want to study?</h3>
                <br>
                <br>
                <h3>You can find anything you want to study.</h3>
                <br>
                <br>
                <h3>You can learn whereever you are.</h3>
            </div>
        </div>
    </div>
</div>