<div class="container mt-5 text-center">
    <h1>Welcome to our e-Learning Website!!</h1>
    <br>
    <%= image_tag("study3.jpg", class: "top_image") %>
    <br>
    <%= link_to 'Sign Up', signup_path, class: "btn btn-green my-3 w-25" %>
    <%= link_to 'Login', login_path, class: "btn btn-blue my-3 w-25" %>
</div>