<html>
    <% provide(:title, 'Home') %>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="jumbotron container mt-5 text-center">
            <h1>This is our e-Learning Page.</h1>
            <p>Welcome to our E-learning Page!!</p>
            <a class="btn btn-outline-primary" href="#">Login</a>
            <a class="btn btn-outline-secondary" href="#">Signup</a>
        </div>
    </body>
</html>