<% provide(:title, @category.name) %>

<div class="row container mt-5 mx-auto">
    <div class="col-md-2 border">
        <h3 class="border-bottom">No.</h3>
    </div>
    <div class="col-md-4 border py-3 px-3">
        <h3 class="border-bottom">Title</h3>
    </div>
    <div class="col-md-6 border py-3 px-3">
        <h3 class="border-bottom">Description</h3>
    </div>
</div>