<div class="jumbotron container mt-5">
    <div class="text-center">
        <h1>Edit</h1>
        <p>Edit your information here.</p>
    </div>            
    <div class="row">
        <div class="col-6 mx-auto">
            <%= render 'users/form' %>
        </div>
    </div>
</div>