<div class="jumbotron container mt-5">
    <div class="text-center">
        <h1>All Users</h1>

        <div class="paginate pagination justify-content-center mb-3">
            <%= will_paginate %>
        </div>

        <div class="row text-left">
            <% @users.each do |user| %>
                <div class="col-md-6">
                    <section>
                        <div class="border_line">
                            <div class="row">
                                <div class="col-md-3">
                                    <%= user_image(user, "index-image-size") %>
                                </div>
                                <div class="col-md-5 my-auto">
                                    <%= link_to user.name, user %>
                                </div>                    
                            </div>
                        </div>
                    </section>
                </div>
            <% end %>
        </div>

    </div>
</div>