<div class="jumbotron container mt-5">
    <div class="text-center">
        <h1>All Users</h1>

        <div class="paginate mb-3">
            <%= will_paginate %>
        </div>

        <div class="row text-left">
            <% @users.each do |user| %>
                <div class="col-md-6">
                    <section>
                        <div class="border border-light my-2">
                            <%= user_image(user, "index-image-size") %>
                            <%= link_to user.name, user %>
                        </div>
                    </section>
                </div>
            <% end %>
        </div>

    </div>
</div>