<div class="jumbotron">
    <div class="media">
        <div class="media-body ml-3">
            <%= user_image(@user, "image-size") %>
            <h1><%= @user.name %></h1>
            <p><%= @user.email %></p>
        </div>
    </div>
</div>