<div class="jumbotron">
    <div class="media">
        <div class="media-body ml-3 text-center">
            <%= user_image(@user, "image-size") %>
            <h3><%= @user.name %></h3>
            <p><%= @user.email %></p>
        </div>
    </div>
</div>