<div class="jumbotron container mt-5">
    <div class="text-center">
       <h1>Create New Category</h1>
    </div>            
    <div class="row">
        <div class="col-6 mx-auto">
            <%= render 'admin/categories/form' %>
        </div>
    </div>
</div>